.playerDetailsWidget {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgb(0,0,0,0.47);
    box-shadow: 2px 4px 10px 1px rgb(0,0,0,0.47);
    border-radius: 10px;
    height: 100px;

    .left {
        display: flex;
        flex: 5;
        flex-direction: column;
        -webkit-box-shadow: 2px 4px 10px 1px rgb(0,0,0,0.47);
        box-shadow: 2px 4px 10px 1px rgb(0,0,0,0.47);
        padding: 10px;
        border-radius: 5px;
        margin: 10px;
        .playertoggle {
            display: flex;
            flex-direction: row;
            .title {
                font-weight: bold;
                font-size: 25px;
                color: gray;
                padding-right: 100px;
            }
        }
        .featuredLeft {
            display: flex;
            flex-direction: column;
            .top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: gray;
            }
        }
    }

    .right {
        display: flex;
        flex: 1;
        flex-direction: column;
        -webkit-box-shadow: 2px 4px 10px 1px rgb(0,0,0,0.47);
        box-shadow: 2px 4px 10px 1px rgb(0,0,0,0.47);
        padding: 10px;
        border-radius: 5px;
        margin: 10px;
        .title {
            font-weight: bold;
            font-size: 25px;
            color: gray
        }
        .featuredRight {
            display: flex;
            flex-direction: column;
        }
    }

    .sliderTextAfter {
        padding-left: 20px;
        display: flex;
        justify-content: center;
        margin-right: 20px;
    }

    .sliderTextBefore {
        padding-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}